./vscode
/examples
/lib
/test
.gitignore
.prettierrc
.travis.yml
jestconfig.json
README.md
coverage
.eslintrc.json
.parcel-cache/
.husky/
.github/
.czferc.js
CODE_OF_CONDUCT.md
cc-reporter*
lint-staged.config.js
tsconfig.json
public-key.asc